.contenedor {
    display: block;
	height:300px;
	width:500px;
	border:1px solid #D8D8D8;
}
.cuadrados {
    width:25%;
	height:100px;
	background-color:#F4FA58;
	float:right;
	
}
.cuadrados1 {
    width:25%;
	height:100px;
	background-color:#0080FF;
	float:right;
	
}
.cuadrados2 {
    width:25%;
	height:100px;
	background-color:#FE2E2E;
	float:right;
	
}

